__pycache__
*.pyc
.idea
project.sublime-workspace

# Rendered files
web/index.html
web/about.html
web/404.html
web/search.html
web/_about_loading.html
web/_blog_loading.html
web/_portfolio_loading.html
web/portfolio/index.html
web/writing/*.html
