__pycache__
*.pyc
.idea
project.sublime-workspace

*.swo
*.swp

# Rendered files
/public/index.html
/public/about.html
/public/404.html
/public/search.html
/public/.about.html
/public/.blog.html
/public/.portfolio.html
/public/portfolio/index.html
/public/writing/*.html
/public/writing/2???/
