*.pyc
*.sublime-workspace
*.swo
*.swp
/.idea
/__pycache__
/public/.about.html
/public/.blog.html
/public/.portfolio.html
/public/404.html
/public/about.html
/public/index.html
/public/portfolio/index.html
/public/search.html
/public/writing/*.html
/public/writing/2???/
/venv
