Date:     2015-02-27
Subject:  Usability Reflections: Usability Test Reports
Tags:     usability, ux, school, coursework
Abstract: This week's assignment was to watch the recording sessions of three other students and compile a final usability report.

## The Takeaway

### The "cooldown period" helps

The text reading prescribes collecting the notes on the day of testing, but waiting at least one day before writing the final report in order for things to settle.  As it turns out, that's pretty good advice&mdash;after watching three recording sessions back to back to back, I was pretty fried mentally.  Given the fact that there were only three tasks here and they weren't exactly rocket science, I would question my ability to write anything coherent after a full day of actual testing of a real project. :)



## Attachments

[<img src="/writing/attachments/coursework-UsabilityTestReport-icon.png" alt="PDF" style="width: 100px !important; box-shadow: none !important; border-radius: 0 !important;"/>](/writing/attachments/coursework-UsabilityTestReport.pdf)



## Raw Notes


    KSG/ Ben

    QUOTES:

      "Noticed that Papa Johns has a gateway to link me up with my local store
       to make sure pizza is actually available to me"

      "Gives me a visual representation of the pizza, which I prefer to see --
       Feels like I am in a little bit more control of the ingredients  -- I
       like to see what I'm ordering."

      "Makes it pretty convenient to get back to the menu"


    GENERAL NOTES:

      - Young
      - Ordered online before
      - Very familiar with the web in general
      - Used the site in the past


    OBSERVATIONS:

      - Expectations met for pizza creation
      - Complaint about nomenclature of mushroom toppings -- "People may not
        know what 'portabellas' are"
      - Did not expect to be able to sign up for special deals and coupons
        without registering for an account


    ---------------------------------------------------------------------------

    KB/ Amanda

    QUOTES:

      "It's less aesthetically pleasing... It's easier to read and easier to
       do, but the five year old me enjoys the 'pizza-building' aesthetic" (IRT
       the basic order creation page)

      "(emphatically) Ugh, I am _not_ signing in..."


    GENERAL NOTES:

      - Young
      - Semantic search in Google ("pizza near <locality>")
      - Ordered online before
      - Used site in the past


    OBSERVATIONS:

      - Partially met expectations of ordering online
      - "Create Your Own Pizza" feature was overlooked
      - Clicked on "Add to Order" with expectation of being able to customize
        the pie first (all buttons look identical, but some are labeled "Add to
        Order" and others "Add & Customize")
      - Browser quirk showed page cut off half of the vegetable toppings.  Had
        to switch to the basic order form.


    ---------------------------------------------------------------------------

    DH/ Tawanna

    QUOTES:

      "I really don't know what I'm doing here..."

      "My expectation was that there would be an immediate button to begin the
       ordering process -- I didn't see that without looking around a little
       bit -- Clicking on many options to find"


    GENERAL NOTES:

      - Older
      - Ordered online before
      - Moderately familiar with the web
      - Not used site in the past


    OBSERVATIONS:

      - Did not know where to start to begin ordering
        * Clicked on the "Ordering" link at top of page and was brought to a
          "brochure" section
        * From the "brochure", wanted to click on "Web Ordering"
      - Pizza builder loading stopped at 91% the first time
      - Was unsure of how to add toppings to a pizza in the cart
        * Tried to add from the "Extras" page
      - Was confused by the two places on the builder that ask about sauce
      - Expected that a link to the corporate contact would be at the bottom of
        the page
