/* =========================================================================
   Containers
   ========================================================================= */

pre {
  overflow-x: auto;
  line-height: 1.17em;
  word-wrap: normal;
  background-color: #444; /*@syntax-background-color*/
  color: #ccc; /*@syntax-text-color*/
}

code {
  white-space: pre;
  color: inherit;
}

/* =========================================================================
   Languages
   ========================================================================= */


/* Languages: Defaults
   ========================================================================= */

.hljs-regexp,
.hljs-string {
  color: #7a8; /*@syntax-language-string-color*/
}

.hljs-string .hljs-subst {
  color: #de9bff; /*@syntax-language-keyword-modifier-color*/
}

.hljs-comment {
  color: #555; /*@syntax-language-comment-color*/
}
.hljs-doctag {
  font-weight: bold;
}

.hljs-number {
  color: #f69; /*@syntax-language-number-color*/
}

.hljs-built_in,
.hljs-prompt,
.hljs-preprocessor,
.hljs-class .hljs-title,
.hljs-variable {
  color: #ccc; /*@syntax-text-color*/
}

.hljs-built_in {
  font-weight: bold;
  font-style: italic;
}

.hljs-class .hljs-title {
  font-weight: bold;
}

.hljs-literal,
.hljs-keyword,
.hljs-title {
  color: #aba3cc; /*@syntax-language-keyword-color*/
}

.hljs-tag .hljs-name {
  color: #aba3cc; /*@syntax-language-keyword-color*/
}

.hljs-params {
  color: #ccc; /*@syntax-text-color*/
  font-style: italic;
}

.hljs-function .hljs-title {
  color: #ccc; /*@syntax-text-color*/
  font-weight: bold;
}

.hljs-meta,
.hljs-symbol {
  color: #ccc; /*@syntax-text-color*/
}

/* Languages: CSS
   ========================================================================= */

.css .hljs-attribute {
  font-style: italic;
}

.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #ccc; /*@syntax-text-color*/
}

.hljs-selector-tag {
  color: #aba3cc; /*@syntax-language-keyword-color*/
}

.css .hljs-function {
  color: #ccc; /*@syntax-text-color*/
  font-weight: bold;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #aba3cc; /*@syntax-language-keyword-color*/
}

/* Languages: Diff
   ========================================================================= */

.diff {
  color: #ccc; /*@syntax-text-color*/
}

.diff .hljs-meta {
  color: #66D9EF; /*@syntax-language-constant-color*/
}

/* Header */
.diff .hljs-comment {
  color: #ccc; /*@syntax-text-color*/
  font-weight: bold;
}

.diff .hljs-addition {
  color: #2feb3b;
}

.diff .hljs-deletion {
  color: #fe4a4a;
}

/* Languages: JSON
   ========================================================================= */

.json .hljs-attr {
  color: #ccc; /*@syntax-text-color*/
  font-weight: bold;
}

/* Languages: PHP
   ========================================================================= */

.php .hljs-meta {
  color: #777; /*@syntax-language-attribute-color*/
}

/* Languages: XML
   ========================================================================= */

.xml .javascript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

.xml .hljs-tag {
  /* '<' '/' and '>' */
  color: #ccc; /*@syntax-text-color*/
}

.xml .hljs-attr {
  color: #777; /*@syntax-language-attribute-color*/
}

/* Languages: XCode
   ========================================================================= */

.hljs-preprocessor {
  /* Used in PHP and Obj-C */
  font-style: italic;
  font-weight: bold;
  color: #ccc; /*@syntax-text-color*/
}

.swift .hljs-type {
  color: #aba3cc; /*@syntax-language-keyword-color*/
}

.swift .hljs-class .hljs-keyword {
  color: #aba3cc; /*@syntax-language-keyword-color*/
}

.swift .hljs-class .hljs-title {
  color: #aba3cc; /*@syntax-language-keyword-color*/
}

