body
{
	scrollbar-arrow-color:		#c0c0c0;
	scrollbar-face-color:		#3c3c3c;
	scrollbar-track-color:		black;

	scrollbar-highlight-color:	#3c3c3c;
	scrollbar-3dlight-color:	#606060;

	scrollbar-shadow-color:		#202020;
	scrollbar-darkshadow-color:	#000000;
}