<!doctype html>
<html lang="en-us">
<head>
    <title>Not Found | bazile.org</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.7, minimum-scale=0.7" />
    <link rel="icon" href="/images/favicon.png" />
    <link rel="apple-touch-icon" href="/images/favicon.png"/>
    <style type="text/css">
        * {
            margin: 0;
        }

        html {
            display: flex;
            width: 100%;
            height: 100%;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            font-family: -apple-system-body, BlinkMacSystemFont, 'Helvetica Neue', Segoe UI, sans-serif;
            font-size: 16px;
            background-color: #222;
            color: white;
            cursor: default;
        }

        main {
            text-align: center;
        }

        svg {
            width: 10em;
            height: 10em;
        }

        h1 {
            margin: .5em 0 2em;
            font-weight: lighter;
            font-size: 3em;
        }

        p {
            color: #999;
        }

        .links {
            margin-top: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .link {
            padding: .5em .7em;
            border-radius: 2px;
            text-decoration: none;
            outline: none;
            text-shadow: 1px 1px rgba(0,0,0,.15);
            box-shadow: 0 5px rgba(0,0,0,.07);
        }

        .link + .link {
            margin-left: 1em;
        }

        .link--blog {
            background-color: #333;
            color: #777;
        }

        .link--search {
            color: white;
            background-color: #e91e63;
        }

        circle:nth-child(1) {
            fill: #789;
        }

        circle:nth-child(2) {
            fill: #000;
        }

        circle:nth-child(3) {
            fill: #500;
        }

        circle:nth-child(4) {
            fill: #d00;
        }

        circle:nth-child(5) {
            fill: #a00;
        }

        circle:nth-child(6) {
            fill: #f80;
        }

        circle:nth-child(n + 3) {
            transform-origin: 50px 50px;
            animation: blinking-bulb infinite alternate 1s ease;
        }

        @keyframes blinking-bulb {
            0%, 75% {
                opacity: .5;
                transform: scale(1.0);
            }
            100% {
                opacity: 1;
                transform: scale(1.05);
            }
        }
    </style>
</head>
<body>
    <main>
        <svg viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" />
            <circle cx="50" cy="50" r="47" />
            <circle cx="50" cy="50" r="40" />
            <circle cx="50" cy="50" r="30" />
            <circle cx="50" cy="50" r="15" />
            <circle cx="50" cy="50" r="10" />
        </svg>

        <h1>I'm afraid I can't do that.</h1>

        <p>Seriously though, <code id="uri"></code> doesn't exist or moved.</p>

        <div class="links">
            <a class="link link--blog" href="/index.html">&lt; Return to Blog</a>
            <a class="link link--search" href="/search.html">Search for &ldquo;<code></code>&rdquo; &gt;</a>
        </div>
    </main>
    <script>
        (function () {
            const uri = location.pathname
            const basename = uri
                .toLowerCase()
                .split('/')
                .pop()
                .replace(/\?.*$/g, '')
                .replace(/\.\w+$/g, '')
                .replace(/[^a-z0-9]+/g, ' ')

            document.querySelector("#uri").textContent = uri
            document.querySelector(".link--search").search = `keyword=${basename}`
            document.querySelector(".link--search code").textContent = basename
        }())
    </script>
</body>
</html>
