{% extends "layout.html" %}

{% set route = '__about__' %}
{% set title = 'David Bazile | ASIC' %}

{% set placeholder %}
  {% include "_about.loading.html" %}
{% endset %}

{% block body %}
  <section class="preamble block columns">
    <h1>
      Hi, I'm Dave
      <small>I build clean interfaces for the web</small>
    </h1>
    <img src="images/the-great-fisherman.png" alt="True story..." />
  </section>

  <section class="aboutMe block">
    <h2>Who I am</h2>

    <ul class="pictograms">
      <li>
        <img
          src="images/pictogram-dad-husband.svg"
          alt="Father and Husband"
        />
        Father and Husband
      </li>
      <li>
        <img
          src="images/pictogram-marine.svg"
          alt="Veteran of the United States Marine Corps"
        />
        Veteran of the United States Marine Corps
      </li>
      <li>
        <img
          src="images/pictogram-developer.svg"
          alt="60% Software Developer, 40% UI/UX Acolyte"
        />
        60% Software Developer, 40% UI/UX Acolyte
      </li>
    </ul>

    <h3>What I do</h3>

    <p>
      By day, I build software for my employer and its
      clients.  By night, I read up on anything relating
      to user interface development and research any
      software engineering problems encountered during the
      day.  I am also working towards a masters degree in
      User Experience Design.  Occasionally, I play
      console videogames.
    </p>

    <h3>Once Upon a Time...</h3>

    <p>
      As a teenager, I was deeply interested in web
      design.  With the exception of videogames, there
      wasn't much else I spent time on.  In fact, one
      interest served to reinforce the other in many ways.
    </p>
    <p>
      My earliest programming undertaking was born out of
      the desire to correct several UI inefficiencies of a
      Miva-scripted bulletin board application on a
      videogame fan club website.  Achieving that goal and
      receiving many accolades from my fellow gamers for
      solving that long-lived problem, that curiosity
      shifted to full-blown web design and development.
    </p>
    <p>
      Armed with hubris and momentum from my first coding
      victory, I went forth overhauling legions of
      GeoCities-quality HTML 3.0 websites to feature
      custom-made Photoshop graphics, CSS and coherent
      color schemes.  Since the clientele was invariably
      my fellow broke, unemployed gaming teenage peers, I
      never charged anything for designs and when I hosted
      others' fan pages, I did so free of charge.  I did
      this (along with actually going to school every now
      and then) right up until I joined the service.
    </p>

    <h3>Sites I frequent</h3>

    <p>
      I'm nowhere near as active online as I was in my
      teenage years, but if you're so inclined, you can
      find stuff written or created by me on
      <a href="https://github.com/dbazile" target="_blank">GitHub</a>,
      <a href="https://twitter.com/spoonchucks" target="_blank">Twitter</a> and
      <a href="http://instagram.com/spoonchucks" target="_blank">Instagram</a>
      under my handle <em>spoonchucks</em>.  It should be
      said that when trying to come up with an internet
      pseudonym, one will encounter much difficulty
      finding one that fits all of the following
      adjectives: unique, anonymous, clever, timeless,
      unoffensive.
    </p>
    <p>
      I also lurk on
      <a href="https://news.ycombinator.com" target="_blank">Hacker News</a>.
    </p>
  </section>

  <section class="aboutThisSite block">
    <h2>What is the purpose of this site?</h2>
    <p>
      Much of the career advice I've read from people I
      respect in the software development field trends
      toward the sentiment that all developers should have
      a blog.  The one that most sticks out in my mind is
      <a href="http://www.hanselman.com/blog/YourWordsAreWasted.aspx"
         target="_blank">this blog post by Scott Hanselman</a>.
    </p>
    <p>
      I'll admit that as the years have passed, I've
      gotten hyper-vigilant about what I put up on the
      web&mdash;rivaled possibly only by folks ducking
      the law or the mafia&mdash;and I wear this as a
      badge of honor in a time that public over-sharing
      seems to be the norm.  <em>But</em>, I do need a
      place to host technical experimentation, lessons
      learned, sample data and my portfolio.  I'll try
      to keep it professional!
    </p>

    <h3>Why the name?</h3>

    <p>
      So, it turns out that finding a good .com domain
      name has gotten several orders of magnitude more
      difficult than back when I registered my first
      domain name.  I do kind of like this one though.
    </p>
  </section>
{% endblock %}
