<!DOCTYPE html>
<html class="state--initial">
<head>
  <title>Search | ASIC</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Hammersmith+One|Abhaya+Libre:400,700">
  <link rel="stylesheet" type="text/css" href="styles/search.css">
  <script src="scripts/utils.js"></script>
</head>
<body>
  <form action="//search.andsoitcontinues.com/combined">
    <h1>Search ASIC</h1>
    <input type="text" placeholder="What are you looking for?" name="query"/>
    <div class="metrics">
      <code class="metrics__count">-1</code> result(s) for <code class="metrics__query">lolwut</code>
    </div>
  </form>

  <ol class="results">
    <li class="result result--blog">
      <h2><a class="result__subject result__hyperlink">Subject</a></h2>
      <div class="result__description">Description</div>
      <ul class="result__tags"></ul>
    </li>
    <li class="result result--portfolio">
      <h2><a class="result__subject result__hyperlink">Subject</a></h2>
      <div class="result__preview"></div>
      <div class="result__description">Description</div>
      <ul class="result__tags"></ul>
    </li>
  </ol>

  <div class="placeholder placeholder--searching">
    It must be here somewhere...
  </div>

  <div class="placeholder placeholder--empty">
    Nope, nada
    <button class="placeholder__dismissButton">OK</button>
  </div>

  <div class="placeholder placeholder--error">
    Oh noes!  Error.
    <button class="placeholder__dismissButton">OK</button>
  </div>

  <script src="scripts/search.js"></script>
</body>
</html>
