{% extends "_layout.jinja2" %}

{% set route = '__about__' %}
{% set title = 'David Bazile | bazile.org' %}

{% set placeholder %}
  {% include "about__loading.jinja2" %}
{% endset %}

{% block body %}
  <section class="preamble block columns">
    <h1>
      Hi, I'm Dave!
      <small>I build tools and applications to help people get stuff done</small>
    </h1>
    <img src="images/the-great-fisherman.png" alt="True story..." />
  </section>

  <section class="aboutMe block">
    <h2>Who I am</h2>

    <ul class="pictograms">
      <li>
        <img
          src="images/pictogram-dad-husband.svg"
          alt="Father and Husband"
        />
        Father and Husband
      </li>
      <li>
        <img
          src="images/pictogram-marine.svg"
          alt="Veteran of the United States Marine Corps"
        />
        Veteran of the United States Marine Corps
      </li>
      <li>
        <img
          src="images/pictogram-developer.svg"
          alt="70% Software Developer, 30% UX Advisor"
        />
        70% Software Developer, 30% UX Advisor
      </li>
    </ul>

    <h3>What I do</h3>

    <p>
      I build software and tools to help people solve problems accurately and
      efficiently.  In between coding, I also serve as an in-house &ldquo;UX
      advisor&rdquo;, helping technical and non-technical build workflows,
      graphical user interfaces and processes in a human-friendly way.
    </p>

    <h3>My Background</h3>

    <p>
      I spent most of my high school years building web sites and implementing
      my own CMS'es and other critical-type stuff (e.g., recoloring MSIE
      scrollbars in CSS), continuing this process through graduation and until
      I enlisted in the military.
    </p>
    <p>
      At every duty station I was &ldquo;that kid with the computers&rdquo;,
      helping peers and supervisors fix technical headaches of all sizes,
      especially data issues: manual and automated conversion of &ldquo;Excel
      spreadsheet databases&rdquo; scattered across sharedrives; defining
      storage and backup procedures for critical data; and documenting those
      processes and training those who would inherit those new systems.
    </p>
    <p>
      In the background of my military career, I continued working towards my
      undergraduate degree in computer science which I was able to complete a
      year before my enlistment ended.  Upon leaving the military, I got my
      first official software development job.
    </p>
    <p>
      Two years into the development business, I began looking for a way to be
      more deliberate about building effective and approachable applications
      for users rather than just having good UX happen by random chance.  Armed
      with my shiny new GI Bill, I pursued and completed my graduate degree in
      information architecture and user experience, the fields which govern how
      to arrange and present structured and unstructured information and
      workflows in ways that are intuitive and easily understood by end users
      and not just the folks who build them.
    </p>

    <h3>Sites I frequent</h3>

    <p>
      I'm nowhere near as active online as I was in my teenage years, but if
      you're so inclined, you can find stuff written or created by me on
      <a href="https://github.com/dbazile" target="_blank">GitHub</a>,
      <a href="https://twitter.com/spoonchucks" target="_blank">Twitter</a> and
      <a href="http://instagram.com/spoonchucks" target="_blank">Instagram</a>.
    </p>
    <p>
      I also lurk on
      <a href="https://news.ycombinator.com" target="_blank">Hacker News</a>
      but I don't post (hence the lurking).
    </p>
  </section>

  <section class="aboutThisSite block">
    <h2>What is the purpose of this site?</h2>
    <p>
      Much of the career advice I've read from people I
      respect in the software development field trends
      toward the sentiment that all developers should have
      a blog.  The one that most sticks out in my mind is
      <a href="http://www.hanselman.com/blog/YourWordsAreWasted.aspx"
         target="_blank">this blog post by Scott Hanselman</a>.
    </p>
    <p>
      I'll admit that as the years have passed, I've
      gotten hyper-vigilant about what I put up on the
      web&mdash;rivaled possibly only by folks ducking
      the law or the mafia&mdash;and I wear this as a
      badge of honor in a time that public over-sharing
      seems to be the norm.  <em>But</em>, I do need a
      place to host technical experimentation, lessons
      learned, sample data and my portfolio.  I'll try
      to keep it professional!
    </p>
  </section>
{% endblock %}
